name: build archlinux image

on:
  workflow_dispatch:
  schedule:
    - cron: "0 17 1,15 * *"
  push:
    branches: [main]
    paths:
      - archlinux/**

permissions:
  contents: read
  packages: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ashlynorsomethin
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./archlinux/latest
          file: ./archlinux/latest/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/ashlynorsomethin/pelican-images:archlinux_latest
            ghcr.io/ashlynorsomethin/pelican-images:archlinux_latest-${{ github.sha }}
